*, ::before, ::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: white;
}

.block {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

 .b1 img, .b2 img, .b3 img, .b4 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  
}

#frame-sequence-1 {
  position: relative;  /* or remove position entirely */
  width: 100%;
  display: block;
  height: auto;
  z-index: 1;
}
